<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
</head>

<body>

    <form action="/updateAnimal/<%= specAnimal[0].id %>" method="POST" onsubmit="return validateForm()">

        <% if(messages.editAnimal){ %>
            <% for (var i of messages.editAnimal) { %> 
            
            <p> <%= i %> </p>
            <% } %>
        <% } %>

        <h1>Change or Edit you're current existing Animal</h1>
        
        <p>Animal:</p>
        <input type="text" name="type" value="<%= specAnimal[0].type %> ">

        <p>Name:</p>
        <input type="text" name="name" value="<%= specAnimal[0].name %> ">
        <br>

        <p>Age:</p>
        <input type="number" name="age" value="<%= specAnimal[0].age %> ">
        <br>

        <button type="submit" class="btn btn-success">Edit</button>

    </form>
</body>

</html>